
.idea/

__pycache__/

ATR_Denoising_Search/

venv/

ATR_Denoising_Search1/

venv_tf/

NetworkSearch/

noisyTest.npy

noisyTrain.npy

Conv1DModel/

Spectra Creation/PS Generator/

Spectra Generation/PS Generator/

Spectra Generation/generationOutput/
